#offre-emploi-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    //background-color: #f9f9f9;
    background-color: #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="date"],
.form-group select,
.form-group textarea,
.form-group input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #f9f9f9;
    border-radius: 3px;
    font-size: 16px;
}

.form-group textarea {
    resize: vertical;
    height: 100px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Responsive adjustments */
@media (max-width: 767px) {
    form {
        padding: 15px;
    }

    .form-group label {
        font-size: 14px;
    }

    .form-group input[type="text"],
    .form-group input[type="date"],
    .form-group select,
    .form-group textarea,
    .form-group input[type="file"] {
        font-size: 14px;
        padding: 8px;
    }

    button[type="submit"] {
        font-size: 14px;
        padding: 8px;
    }
}
