
.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
   /*background: #ffffff;*/
    border-radius: 8px;
   /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
}
h1 {
    margin-top: 0;
    color: #333333;
}
.section {
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #dddddd;
}
.section:last-child {
    border-bottom: none;
}
.section h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #444444;
}
.section p {
    margin: 5px 0;
    line-height: 1.6;
}
.section p strong {
    color: #555555;
}
.resume-link {
    color: #007bff;
    text-decoration: none;
}
.resume-link:hover {
    text-decoration: underline;
}